*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "OpenSans";
  src: url(../assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
  font-family: "BagelFatOne";
  src: url(../assets/fonts/BagelFatOne-Regular.ttf);
}
@font-face {
  font-family: "Padauk";
  src: url(../assets/fonts/Padauk-Regular.ttf);
}
header {
  width: 100%;
  height: auto;
}
header nav {
  width: 100%;
  height: 100px;
  display: flex;
  box-shadow: 0px 1px 24px 0px #050505;
  position: relative;
}
header nav .logo {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .logo a img {
  max-width: calc(80px + 5vw);
}
header nav .mobile-direction {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
header nav .links {
  width: 50%;
  display: flex;
  align-items: center;
}
header nav .links ul {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 80px;
}
header nav .links ul li {
  font-size: calc(10px + 0.4vw);
  list-style-type: none;
}
header nav .links ul li a {
  text-decoration: none;
  font-family: "OpenSans", sans-serif;
  font-weight: 700;
  color: #000;
}
header nav .links ul li a:hover {
  color: #E6A469;
  transition: 300ms;
}
header nav .socials {
  width: 17%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .socials a {
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 1.5vw);
  text-decoration: none;
  color: #000;
  padding: 0 20px;
}
header nav .socials a:hover {
  animation: rotate-center 800ms ease-in-out;
}

@media screen and (max-width: 851px) {
  nav {
    display: flex;
    flex-direction: column;
  }
  nav .logo {
    width: 100%;
    display: block;
    margin: auto;
  }
  nav .mobile-direction {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 25px;
  }
  nav .mobile-direction .links {
    width: 80%;
  }
  nav .mobile-direction .socials {
    width: 20%;
  }
  nav .mobile-direction .socials a {
    padding: 0 12px;
  }
}
@media screen and (max-width: 450px) {
  nav .mobile-direction .links {
    width: 80%;
  }
  nav .mobile-direction .links ul {
    gap: 30px;
  }
  nav .mobile-direction .socials a {
    padding: 0 8px;
  }
}
main .background_home {
  width: 100%;
  height: 570px;
  object-fit: cover;
}
main .overlay {
  background: #4F5563;
  width: 100%;
  height: 570px;
  position: absolute;
  opacity: 0.7;
}
main .container__banniere {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 620px;
}
main .container__banniere h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  color: #E6A469;
  background: #fff;
  padding: 8px 0;
  border-radius: 20px;
  position: relative;
  top: 80px;
}
main .container__banniere p {
  position: relative;
  top: 100px;
  font-size: calc(35px + 1vw);
  text-transform: uppercase;
  text-align: center;
  font-family: "OpenSans", sans-serif;
  font-weight: 700;
  color: #fff;
}
main .container__banniere .floating-btn {
  position: relative;
  top: 125px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgb(255, 255, 255);
  animation: pulse 1.3s infinite;
}
@keyframes pulse {
  to {
    box-shadow: 0 0 0 1rem rgba(255, 255, 255, 0.01);
  }
}
main .container__banniere .floating-btn img {
  width: 25px;
  height: 25px;
}
main .souslochome h2 {
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: calc(15px + 1vw);
  margin-top: 30px;
  margin-bottom: 40px;
}
main .souslochome h2 span {
  color: #E6A469;
  text-decoration: underline solid 3px #E6A469;
}
main .souslochome p {
  margin: 0 auto;
  text-align: center;
  font-size: calc(11.6px + 1vw);
  max-width: 750px;
  width: 90%;
  font-family: sans-serif;
  border: 3px solid #000;
  border-radius: 10px;
  padding: 10px 0;
  transform: rotate(3deg);
}
main .test {
  width: 100%;
  background: #F4F4FA;
  margin-top: 75px;
  padding-bottom: 75px;
  height: auto;
}
main .test h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 700;
  font-size: calc(15px + 1vw);
  padding: 55px 0;
}
main .test h2 span {
  color: #E6A469;
}
main .test .container_bulles {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  justify-content: center;
  margin: auto;
  gap: 50px;
  width: 95%;
}
main .test .container_bulles .bulles {
  background: #fff;
  margin: auto;
  width: 95%;
  height: 385px;
  border-radius: 80px;
  border-top-left-radius: 0;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px #000;
}
main .test .container_bulles .bulles h2 {
  font-family: "Padauk", sans-serif;
  padding: 25px 0;
}
main .test .container_bulles .bulles p {
  font-size: 16px;
  padding: 0 40px;
  font-family: "OpenSans", sans-serif;
}
main .location h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 700;
  font-size: calc(15px + 1vw);
  padding: 55px 0;
}
main .location h2 span {
  color: #E6A469;
}
main .location .container_cards {
  width: 95%;
  height: auto;
  margin: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 350px);
  gap: 75px;
}
main .location .container_cards article {
  width: 100%;
  height: 475px;
  background: #fff;
  box-shadow: 0px 0.4px 12px 1px #000;
  border-radius: 20px;
  position: relative;
}
main .location .container_cards article .number {
  position: absolute;
  padding: 15px 15px;
  background: #E6A469;
  border-radius: 50%;
  font-weight: 700;
  font-size: 25px;
  font-family: sans-serif;
  left: -15px;
  top: -15px;
}
main .location .container_cards article figure {
  width: 100%;
}
main .location .container_cards article figure img {
  width: 100%;
  height: 225px;
  object-fit: fill;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 1px solid;
}
main .location .container_cards article figure figcaption h3 {
  font-size: 25px;
  font-family: "Padauk";
  text-align: center;
}
main .location .container_cards article figure figcaption p {
  padding: 10px 15px;
  height: 175px;
  font-family: sans-serif;
}
main .location .container_cards article figure figcaption span {
  font-family: "Padauk";
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.rotate-center:hover {
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
footer {
  background: #E6D0A8;
  width: 100%;
  height: 250px;
  margin-top: 100px;
}
footer .container_footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
}
footer .container_footer h3 {
  font-size: 22.5px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: sans-serif;
  text-align: left;
}
footer .container_footer ul {
  list-style-type: none;
  text-align: left;
  padding-top: 15px;
  font-size: 18px;
  font-family: "OpenSans";
}
footer .container_footer ul a {
  text-decoration: none;
  color: #000;
}
footer .container_footer ul a:hover {
  color: #fff;
  transition: 300ms;
}
footer .container_footer .social_footer {
  display: flex;
  flex-direction: column;
}
footer .container_footer .social_footer ul {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
footer .container_footer .social_footer ul a {
  padding: 12px 17px;
  background: #69a4da;
  border-radius: 5px;
  font-size: 24px;
  color: #fff;
}
footer .container_footer .social_footer ul a:hover {
  filter: brightness(1.2);
}
footer .container_footer .social_footer ul a:nth-child(1) {
  background: linear-gradient(302deg, rgb(66, 133, 244) 0%, rgb(219, 68, 55) 30%, rgb(244, 180, 0) 70%, rgb(15, 157, 88) 100%);
}
footer .container_footer .social_footer ul a:nth-child(3) {
  background: #000000;
}
footer .container_footer .social_footer ul a:nth-child(2) {
  background: linear-gradient(132deg, rgb(131, 58, 180) 0%, rgb(253, 29, 29) 50%, rgb(252, 176, 69) 100%);
}

.end {
  background: #E6A469;
  width: 100%;
  height: 50px;
}
.end p {
  text-align: center;
  padding-top: 15px;
  font-size: 14.5px;
  font-family: sans-serif;
}
.end p span {
  color: #fff;
  font-weight: 700;
}

/*# sourceMappingURL=main.css.map */
