footer{
    background: #87CEEB;
    width: 100%;
    height: 250px;
    margin-top: 100px;
    .container_footer{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        padding-top: 50px;
        h3{
            font-size: 22.5px;
            font-weight: 700;
            text-transform: uppercase;
            font-family: sans-serif;
            text-align: left;
        }
        ul{
            list-style-type: none;
            text-align: left;
            padding-top: 15px;
            font-size: 18px;
            font-family: 'OpenSans';
            a{
                text-decoration: none;
                color: #000;
                &:hover{
                    color: #fff;
                    transition: 300ms;
                }
            }
        }
        .social_footer{
            display: flex;
            flex-direction: column;
            ul{
                display: flex;
                flex-direction: row;
                gap: 25px;
                a{
                    padding: 12px 17px;
                    border-radius: 5px;
                    font-size: 24px;
                    color: #fff;
                    &:hover{
                        filter: brightness(1.2);
                    }
                    &:nth-child(1){
                        background: linear-gradient(302deg, rgba(66,133,244,1) 0%, rgba(219,68,55,1) 30%, rgba(244,180,0,1) 70%, rgba(15,157,88,1) 100%);
                    }
                    &:nth-child(3){
                        background: #000000;
                    }
                    &:nth-child(2){
                        background: linear-gradient(132deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
                    }
                }
            }
        }
    }
}
.end{
    background: #0A1929;
    width: 100%;
    height: 50px;
    p{
        text-align: center;
        padding-top: 15px;
        font-size: 14.5px;
        font-family: sans-serif;
        color: #fff;
        span{
            color: #87CEEB;
            font-weight: 700
        }
    }
}

@media screen and (max-width: 500px){
    footer{
        // background: #000;
        .container_footer{
            h3{
                font-size: 18.5px;
                text-align: center;
            }
            ul{
                text-align: center;
                a{
                    font-size: 16px;
                }
            }
            .social_footer{
                ul{
                    a{
                        font-size: 18px;
                        padding: 10px 12px;
                    }
                }
            }
        }
    }
}