main{
    .background_home{
        width: 100%;
        height: 570px;
        object-fit: cover;
    }
    .overlay{
        background: #4F5563; 
        width: 100%;
        height: 570px;
        position: absolute;
        opacity: 0.7;
    }
    .container__banniere{
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        max-width: 620px;
        h1{
            text-align: center;
            text-transform: uppercase;
            font-family: sans-serif;
            color: #87CEEB;
            background: #fff;
            padding: 8px 0;
            border-radius: 20px;
            position: relative;
            top: 80px;
        }
        p{
            position: relative;
            top: 100px;
            font-size: calc(35px + 1vw);
            text-transform: uppercase;
            text-align: center;
            font-family: 'OpenSans', sans-serif;
            font-weight: 700;
            color: #fff;
        }
        .floating-btn {
            position: relative;
            top: 125px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 65px;
            height: 65px;
            border-radius: 50%;
            border: 2px solid white;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            box-shadow: 0 0 0 0 rgb(255, 255, 255);
            animation: pulse 1.3s infinite;
          }
          
          @keyframes pulse {
            to {
              box-shadow: 0 0 0 1rem rgba(255, 255, 255, 0.01);
            }
          }
          
          .floating-btn img {
            width: 25px;
            height: 25px;
          }
    }
    .souslochome{
      h2{
        text-align: center;
        font-family: sans-serif;
        text-transform: uppercase;
        font-size: calc(15px + 1vw);
        margin-top: 30px;
        margin-bottom: 40px;
        span{
          color: #87CEEB;
          text-decoration: underline solid 3px #87CEEB;
        }
      }
      p{
        margin: 0 auto;
        text-align: center;
        font-size: calc(11.6px + 1vw);
        max-width: 750px;
        width: 90%;
        font-family: sans-serif;
        border: 3px solid #1E3A5F;
        border-radius: 10px;
        padding: 10px 0;
        transform: rotate(3deg);
      }
    }
    .container_b{
      width: 100%;
      background: #F4F4FA;
      margin-top: 75px;
      padding-bottom: 75px;
      height: auto;
      h2{
        text-align: center;
        text-transform: uppercase;
        font-family: sans-serif;
        font-weight: 700;
        font-size: calc(15px + 1vw);
        padding: 55px 0;
        span{
          color: #87CEEB;
        }
      }
      .container_bulles{
        // display: flex;
        // flex-direction: row;
        display: grid;
        grid-template-columns: repeat(auto-fill, 350px);
        justify-content: center;
        margin: auto;
        gap: 50px;
        width: 95%;
        .bulles{
          background: #fff;
          margin: auto;
          width: 95%;
          height: 385px;
          border-radius: 80px;
          border-top-left-radius: 0;
          overflow: hidden;
          box-shadow: 0px 0px 10px 0px #000;
          h2{
            font-family: 'Padauk', sans-serif;
            padding: 25px 0;
            margin-bottom: -20px;
          }
          p{
            font-size: 16px;
            padding: 0 40px;
            font-family: 'OpenSans', sans-serif;
            margin: 2px 0;
          }
      }
    }
  }
  .location{
    h2{
      text-align: center;
      text-transform: uppercase;
      font-family: sans-serif;
      font-weight: 700;
      font-size: calc(15px + 1vw);
      padding: 55px 0;
      span{
        color: #87CEEB;
      }
    }
    .container_cards{
      width: 95%;
      height: auto;
      margin: auto;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(auto-fill, 350px);
      gap: 75px;
      article{
        width: 100%;
        height: 475px;
        background: #1e3a5f;
        box-shadow: 0px 0.4px 12px 1px #000;
        border-radius: 20px;
        position: relative;
        figure{
          width: 100%;
          img{
            width: 100%;
            height: 225px;
            object-fit: fill;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom: #87CEEB 2px solid;
          }
          figcaption{
            h3{
              font-size: 25px;
              font-family: 'Padauk';
              text-align: center;
              color: #fff;
            }
            p{
              padding: 10px 15px;
              height: 150px;
              margin-top: 30px;
              font-family: sans-serif;
              color: #fff;
            }
            span{
              font-family: 'Padauk';
              font-size: 15.5px;
              display: flex;
              justify-content: center;
              color: #fff;
              background: #87CEEB;
              width: 20%;
              margin: auto;
              border-radius: 20px;
            }
          }
        }
      }
    }
  }
}
