* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider {
  height: 320px;
  position: relative;
}

.slider img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
}

.slider img.active {
  opacity: 1;
}

.suivant, .precedent {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slider .precedent,
.slider .suivant {
  color: #87CEEB;
  font-size: 4rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.slider:hover .precedent,
.slider:hover .suivant {
  opacity: 1;
}

.suivant {
  right: 1rem;
}

.precedent {
  left: 1rem;
}